<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body class="bg-dark">
    <style></style>
    <div class="login container-lg bg-light" style="border-radius: 10px; 
	transform: translate(-50%,-50%); 
	position: absolute;
	left: 50%; top: 50%;
	text-align: center;
	height: 55%;
	font-size: 25px;
	">
      <br />
      <h1>สมัครสมาชิก</h1>
      <br />
      <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <div class="mb-3">
          <label for="username"><i class="fas fa-user"></i></label>
          <input style="color: black;" type="text" name="username" placeholder="Username" id="username" required />
        </div>
        <div class="mb-3">
          <label for="password"><i class="fas fa-lock"></i></label>
          <input style="color: black;" type="password" name="password" placeholder="Password" id="password" required />
        </div>
        <div class="mb-3">
          <label for="email"><i class="fas fa-envelope"></i></label>
          <input style="color: black;" type="email" name="email" placeholder="Email" id="email" required />
        </div>

        <div class="msg">{{ msg }}</div>
        <input type="submit" style="padding: 1% 2%;" class="btn btn-info" value="สมัคร" />
        <br /><br />
        <div class="links">
          มีรหัสแล้ว <a href="{{ url_for('login') }}">ล็อกอิน</a>
        </div>
      </form>
    </div>
  </body>
</html>
